.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #cc4e4e;
}

p {
  font-size: 1.5rem;
  color: #cc4e4e;
  font-family: sans-serif;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
